<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <h1>Adicionar nova pessoa</h1>
            <form method="post" th:action="@{/Salvar}" th:object="${InformacoesPessoais}">
                <div class="form-group">
                    <label for="exampleInputPassword1">Nome</label>
                    <input type="text" class="form-control" placeholder="Nome" th:field="*{nome}" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Endereço de email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Seu email" th:field="*{email}" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Data de nascimento</label>
                    <input type="date" class="form-control" id="exampleCheck1" th:field="*{dataNascimento}" required >
                </div>
                <a href="http://localhost:8080/Listar" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Voltar</a>
                <button type="submit" class="btn btn-primary btn-lg active">Salvar</button> 
            </form>

        </div>
    </body>
</html>
